<app-nav></app-nav>
<section class="home">
    <div class="titulos">
        <h3>Biblioteca</h3>
        <p>El mejor sistema para poder administrar la biblioteca</p>
        <button type="button" class="btn btn-customHome" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Sobre Nosotros
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Te contamos un poco de nosotros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="biblioteca" class="custom-img">
                    <p>
                    <b>Misión:</b>
                    Satisfacer íntegramente las necesidades de nuestros clientes, ofreciendo el mayor surtido de libros de texto, lectura e innovación digital.  Satisfaciendo las necesidades de la comunidad educativa con una amplia gama de editoriales para garantizar el aprendizaje y fomentar el amor a la lectura en el público en general.
                    <br>
                    <b>Visión:</b>
                    Ser la librería líder en el Sur occidente de Guatemala en la venta y distribución de libros de textos, libros de lectura en general, plataformas digitales, tanto de editoriales nacionales como extranjeras, reconocida por la calidad de nuestro servicio y la contribución a la comunidad educativa.
                    </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <button type="button" class="btn btn-customHomeK" data-bs-toggle="modal" data-bs-target="#aboutMe">
            Sobre Mi
        </button>
        <div class="modal fade" id="aboutMe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Quien Soy?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="../../../assets/img/me.jpeg" alt="a photo of me" class="custom-img">
                    <p>
                        Hola me llamo <b>IRRAEL EDUARDO CHUTAN CASTILLO</b>
                        y naci en 2003 
                        Me gusta los deportes 
                        Me gusta jugar fútbol como batminton 
                        Espero llegar hacer un ingeniero civil muy importante 
                        Quisiera que en un futuro llegar a tener una familia.
                    </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>